<div class="hero">
    <h1 data-aos="zoom-out" data-aos-delay="100" class="aos-init aos-animate vereinsname">
        BOYZ <span class="vereinsname-middle">n-the</span> HOOD
    </h1>
    <!-- <div class="logo-container">
        <img src="images/logo-bw.png" height="auto" width="80%">
    </div> -->
</div>