<div class="hero">
    <!-- <div class="shadows">
        <span>s</span><span>h</span><span>a</span><span>d</span><span>o</span><span>w</span><span>s</span>
    </div> -->
    <h1 class="vereinsname">
        BOYZ <span class="vereinsname-middle">n-the</span> HOOD
    </h1>
    <!-- <div class="logo-container">
      <img src="images/logo-bw.png" height="auto" width="80%">
  </div> -->
</div>