<div class="verein-wrapper">
    <div class="verein-content">
        <h1 data-aos="zoom-out" data-aos-delay="100" class="aos-init aos-animate vereinsname">
            Boyz-n-the-Hood</h1>
        <h2>Freunde für's Leben</h2>
        <h4>Gegründet 28.2.2017</h4>
        <p> <span class="bold">§1</span><br>
            Dieser Verein dient dem Zweck der Erhaltung der Freundschaft, Freiheit und Brüderlichkeit sowie dem Gelingen
            einer jährlichen Unternehmung der Mitglieder. </p>
        <div class="buttons-wrapper">
            <a href="/mitglieder/Lorenz">
                <div class="button">
                    Gründung
                </div>
            </a>
            <a href="/mitglieder/Lorenz">
                <div class="button">
                    Satzung 
                </div>
            </a>
        </div>
    </div>

</div>