<div class="grid-container-Verein">
    <div class="Vereinsmotto">
        <h1 data-aos="zoom-out" data-aos-delay="100" class="aos-init aos-animate ">
            Freunde<br> für's<br> Leben
        </h1>
    </div>
    <div class="Vereinsinfo">
        <p data-aos="zoom-out" data-aos-delay="300" class="aos-init aos-animate ">
            Satzung
        </p>
        <p data-aos="zoom-out" data-aos-delay="400" class="aos-init aos-animate ">
            Historie
        </p>
    </div>
    <div class="logo-background">
    </div>
</div>
