<%- include("partials/header") %>


<div class="hero">
    <h1 class="vereinsname">Boyz<br> n-the <br> Hood</h1>
</div>

<section id="section-Verein">
    <div class="grid-container-Verein">
        <div class="Vereinsmotto">
            <h1 data-aos="zoom-out" data-aos-delay="100" class="aos-init aos-animate logo">
                Freunde<br> für's<br> Leben
            </h1>
        </div>
        <div class="Vereinsinfo">
            <p data-aos="zoom-out" data-aos-delay="300" class="aos-init aos-animate logo">
                Satzung
            </p>
            <p data-aos="zoom-out" data-aos-delay="400" class="aos-init aos-animate logo">
                Historie
            </p>
        </div>
        <div class="logo-background">
        </div>
    </div>
</section>


<section id="section-Mitglieder">
    <div class="mitglieder-background">
    </div>
    <h1 class="vereinsname">Boyz<br> n-the <br> Hood</h1>

    <div class="grid-container-Mitglieder">
        <div class="carousel-container">
            <div id="carouselExample" class="carousel slide carousel-dark">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card">
                            <!-- ToDo Scale Bastis Image-->
                            <div class="front" style="background-image: url('/images/Basti.jpg');">
                            </div>
                            <div class="back">
                                <div>
                                    <div class="name">Sebastian<br> Ghanbari</div>
                                    <p class="zitat">"I gfrier's naus"</p>
                                    <p class="bio">
                                        Der Puls jedes Abends, das Salz des Meeres, schlicht: ein
                                        Tausendsassa und der beste <span class="bold">Reserveposten</span> der Welt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="front" style="background-image: url('/images/Manu.jpg');">
                            </div>
                            <div class="back">
                                <div>
                                    <div class="name">Manuel<br> Rondelli</div>
                                    <p class="zitat">"Ich les leer!"</p>
                                    <p class="bio">
                                        Unser <span class="bold">Präsident</span>, Fels in der Brandung und nicht
                                        zuletzt der <a href="https://www.youtube.com/watch?v=9lmQidSrgPw"
                                            target="_blank">Wellengott</a> persönlich.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="front" style="background-image: url('/images/Jakob.jpg');">
                            </div>
                            <div class="back">
                                <div>
                                    <div class="name">Jakob<br> Timmermann</div>
                                    <p class="zitat">"Alle vier unsicher!"</p>
                                    <p class="bio">
                                        Wann schon hat die Welt einen <span class="bold">Protokollant</span> schon
                                        jemals so ausschweifend
                                        tanzen gesehen?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="front" style="background-image: url('/images/Sevi.jpg');">
                            </div>
                            <div class="back">
                                <div>
                                    <div class="name">Severin<br> Merget</div>
                                    <p class="zitat">"Jetzad!"</p>
                                    <p class="bio">
                                        Als Bergkatze unerreicht, an Coolness unübertroffen und der einzige <span
                                            class="bold">Sportwart</span> den wir brauchen.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="front" style="background-image: url('/images/Lenz.jpg');">
                            </div>
                            <div class="back">
                                <div>
                                    <div class="name">Lorenz<br> Schiegerl</div>
                                    <p class="zitat">""</p>
                                    <p class="bio">
                                        Ob als Skatelegende oder als <span class="bold">Kassenwart</span>, das Motto
                                        bleibt: alles raus!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>

</section>

<section id="section-Reisen">
    <div class="push-right">
        <h1 class="vereinsname push-right">Boyz<br> n-the <br> Hood</h1>

    </div>
    <div class="container-Reisen">
        <div class="c-mouse-vertical-carousel js-carousel u-media-wrapper u-media-wrapper--16-9">
            <ul class="c-mouse-vertical-carousel__list js-carousel-list">
                <li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="0"
                    style="visibility: inherit; opacity: 1;">
                    <a href="">
                        <p class="c-mouse-vertical-carousel__eyebrow u-b4">
                            <span>
                                2017
                            </span> Frankreich
                        </p>

                        <p class="c-mouse-vertical-carousel__title u-a5">
                            Nizza
                        </p>
                    </a>
                </li>

                <li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="1"
                    style="visibility: inherit; opacity: 0.5; transform: matrix(1, 0, 0, 1, 5, 0);">
                    <a href="">
                        <p class="c-mouse-vertical-carousel__eyebrow u-b4">
                            <span>
                                2018
                            </span> Irland
                        </p>

                        <p class="c-mouse-vertical-carousel__title u-a5">
                            Dublin <br>
                            <span class="c-span-small"> und Gallwick</span>
                        </p>
                    </a>
                </li>

                <li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="2"
                    style="visibility: inherit; opacity: 0.25; transform: matrix(1, 0, 0, 1, 10, 0);">
                    <a href="">
                        <p class="c-mouse-vertical-carousel__eyebrow u-b4">
                            <span>
                                2019
                            </span> Albanien
                        </p>

                        <p class="c-mouse-vertical-carousel__title u-a5">
                            Tirana <br>
                            <span class="c-span-small">und mehr</span>
                        </p>
                    </a>
                </li>

                <li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="3"
                    style="visibility: inherit; opacity: 0; transform: matrix(1, 0, 0, 1, 10, 0);">
                    <a href="">
                        <p class="c-mouse-vertical-carousel__eyebrow u-b4">
                            <span>
                                2020
                            </span> Schweiz/Italien
                        </p>

                        <p class="c-mouse-vertical-carousel__title u-a5">
                            Tessin <br> <span class="c-span-small">und Alassio</span>
                        </p>
                    </a>
                </li>

                <li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="4"
                    style="visibility: inherit; opacity: 0; transform: matrix(1, 0, 0, 1, 10, 0);">
                    <a href="">
                        <p class="c-mouse-vertical-carousel__eyebrow u-b4">
                            <span>
                                2021
                            </span> Kroatien
                        </p>

                        <p class="c-mouse-vertical-carousel__title u-a5">
                            Split
                        </p>
                    </a>
                </li>

                <li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="5"
                    style="visibility: inherit; opacity: 0; transform: matrix(1, 0, 0, 1, 10, 0);">
                    <a href="">
                        <p class="c-mouse-vertical-carousel__eyebrow u-b4">
                            <span>
                                2022
                            </span> Österreich
                        </p>

                        <p class="c-mouse-vertical-carousel__title u-a5">
                            Kitzbühl
                        </p>
                    </a>
                </li>

            </ul>

            <i id="img-nizza" class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img"></i>
            <i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img"
                style='background-image: url("/images/Reisen/2018_Dublin/thumbnail.jpeg"); visibility: hidden; opacity: 0; transform: matrix(1.05, 0, 0, 1.05, 0, 0);'></i>
            <i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img"
                style='background-image: url("/images/Reisen/2019_Albanien/thumbnail.jpg"); visibility: hidden; opacity: 0; transform: matrix(1.05, 0, 0, 1.05, 0, 0);'></i>
            <i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img"
                style='background-image: url("/images/Reisen/2020_Schweiz/thumbnail.jpg"); visibility: hidden; opacity: 0; transform: matrix(1.05, 0, 0, 1.05, 0, 0);'></i>
            <i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img"
                style='background-image: url("/images/Reisen/2021_Kroatien/thumbnail.jpg"); visibility: hidden; opacity: 0; transform: matrix(1.05, 0, 0, 1.05, 0, 0);'></i>
            <i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img"
                style='background-image: url("/images/Reisen/2022_Österreich/thumbnail.jpg"); visibility: hidden; opacity: 0; transform: matrix(1.05, 0, 0, 1.05, 0, 0);'></i>
            <i class="c-gradient-overlay"></i>
        </div>
    </div>


</section>

<%- include("partials/footer") %>