:root {
	--height-Reisen: 100vh;
	--height-Reisen-mobile: 66vh;
	/* --width-mobile: 66vw; */
}


.container-header {
	display: flex;
	justify-content: right;
	text-align: right !important;
	margin-left: 0px !important;
	margin-right: 3rem;
}

.container-Reisen {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	height: var(--height-Reisen);
	width: 100%;
	margin: 0 auto;
	background-color: wheat;
}

.u-a5 {
	font-size: calc(1rem + 1.25vw);
	line-height: 35px;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: 900;
	text-shadow: 1px 1px 6px white;
	color: #FFED00;
	text-shadow: 1px 1px 2.5px rgba(20, 50, 67, 0.8);
}



.u-b4 {
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.3px;
	font-weight: 600;
	text-shadow: 1px 1px 2.5px white;
	color: #0F6292;
	color: rgba(20, 50, 67);
}

.u-media-wrapper {
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center;
	height: 0;
}

.u-media-wrapper.u-media-wrapper--16-9 {
	/* This determines the height of the Reise Carousel */
	/* However values below 100% also lead to weird padding behavior */
	/* The solution is vh! */
	padding-bottom: var(--height-Reisen);
	/* try and error */
}

.c-gradient-overlay {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: var(--height-Reisen);
	background-image: radial-gradient(circle at 49% 50%, rgba(246, 246, 240, 0.3), rgba(236, 230, 147, 0.1));
}

.c-mouse-vertical-carousel {
	position: relative;
	overflow: hidden;
}

.c-mouse-vertical-carousel__list {
	width: 100vw;
	position: absolute;
	left: 0;
	/* Shift carousel to the top */
	top: 25%;
	z-index: 1;
}

.c-mouse-vertical-carousel__list-item a {
	display: block;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-right: 60%;
	padding-left: 10%;
}

.emphasize a,
.emphasize p {
	transition: .5s all ease;
	-webkit-transform: scale(1.2);
}

.c-mouse-vertical-carousel__list .emphasize a {
	margin-left: 7%;
}

.c-mouse-vertical-carousel__list .emphasize .u-a5 {
	text-shadow: 2px 2px 4px rgba(20, 50, 67, 0.9);
}

.c-mouse-vertical-carousel__eyebrow {
	position: relative;
	padding-bottom: 8px;
	padding-top: 3px;
	font-size: calc(0.75rem + 0.4vw);
}

.c-mouse-vertical-carousel__eyebrow span {
	position: absolute;
	left: -60px;
	top: 2px;
}

.c-mouse-vertical-carousel__title {
	max-width: 450px;
}

.c-mouse-vertical-carousel__bg-img {
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: var(--height-Reisen);
	will-change: transform;
	background-repeat: no-repeat;
	background-size: cover;
	/* animation: animatedBackground 30s linear infinite; */
}

.c-span-small {
	font-size: calc(0.5rem + 0.33vw);
	text-shadow: 1px 1px 3px rgba(20, 50, 67, 0.9);
}

#img-nizza {
	background-image: url("/images/Reisen/2017_Nizza/thumbnail.jpeg");
	visibility: hidden;
	background-repeat: no-repeat;
	object-fit: cover;
	background-position: 25% 25%;
}

#img-dublin {
	background-image: url("/images/Reisen/2018_Dublin/thumbnail.jpeg");
	visibility: hidden;
	opacity: 0;
	background-position: 50% 55%;
}

#img-tirana {
	background-image: url("/images/Reisen/2019_Albanien/thumbnail.jpg");
	visibility: hidden;
	opacity: 0;
	background-position: 50% 35%;
}

#img-tessin {
	background-image: url("/images/Reisen/2020_Schweiz/thumbnail_flipped.jpg");
	visibility: hidden;
	background-size: cover;
	background-position: 50% 55%;
}

#img-split {
	background-image: url("/images/Reisen/2021_Kroatien/thumbnail.jpg");
	visibility: hidden;
	opacity: 0;
	transform: matrix(1.05, 0, 0, 1.05, 0, 0);
	background-position: 50% 25%;
}

#img-kitzbuehl {
	background-image: url("/images/Reisen/2022_Österreich/thumbnail.jpg");
	visibility: hidden;
	opacity: 0;
	transform: matrix(1.05, 0, 0, 1.05, 0, 0);
	background-position: 50% 50%;
}

@media screen and (max-width: 723px) and (orientation: portrait) {

	.container-Reisen,
	.c-gradient-overlay,
	.c-mouse-vertical-carousel__bg-img {
		height: var(--height-Reisen-mobile);
	}

	.u-media-wrapper.u-media-wrapper--16-9 {
		padding-bottom: var(--height-Reisen-mobile);
	}
}

@media (hover: none) {
	.c-mouse-vertical-carousel__list {
		visibility: hidden;
	}
}