.reise-content {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5vw;
    z-index: -10;
}

/* .reise-content:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% center;
    background-image: url('/images/Reisen/2017_Nizza/thumbnail.jpeg');
    z-index: -1;
    -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: scale(1);
    transform: scale(1);
} */

.reiseImage {
    position: absolute; 
    height: 100%;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% center;
    opacity: 1;
    transform: scale(1.2);
    overflow: hidden;
}

.slick-active .reiseImage {
    transform: scale(1.2);
    -webkit-animation: imageAnimation 5s 1 ease-in-out forwards;
    animation: imageAnimation 5s 1 ease-in-out forwards;
}

.reise-content div {
    padding: 0vw 10vw;
}

.reiseInfo {
    display: flex;
    flex-direction: column;
}

/* .reiseReadMore {
    float: right;
    color: rgb(var(--primary-color));
    padding: 1vw;
    padding-right: 5vw;
} */
.reiseReadMore,
.reiseDescription {
    font-size: calc(1rem + 0.5vw);
    margin: 0;
    color: transparent;
    background: linear-gradient(270deg, rgb(var(--primary-color)), rgb(var(--secondary-color)));
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 1;
    font-weight: 600;
    z-index: 1;
    padding: 4vw;
}

.reiseJahr {
    color: rgb(var(--secondary-color));
    font-size: calc(1rem + 0.75vw);
    font-weight: 600;
    text-shadow: 2px 2px 3px rgba(var(--complimentary-color), 0.65);
    padding-left: 2vw;
}

.reiseDestination {
    color: rgb(var(--primary-color));
    text-shadow: 4px 4px 6px rgba(var(--complimentary-color), 0.65);
	  font-size: calc(1rem + 3.5vw);
    font-weight: 800;
}

.reiseDescriptionWrapper{
    position: relative;
    padding: 0 !important;
    border-radius: 0px;
    border-top-right-radius: 15px;
    background-color: rgb(255, 255, 255); 
    z-index: 1;
    opacity: 1;
    width: 33vw;
    transform: translate(-35vw);
}
.slick-active .reiseDescriptionWrapper {
    animation: buttonAnimation 0.35s 1 ease-in-out forwards;
    animation-delay: 0.15s;
}

.slick-active .timeline-carousel__item::after{
    transform: translateY(10vh);
    opacity:0.6;

}
.timeline-carousel__item::after{
    content: "";
    position: absolute;
    inset: 0;
    height: 200vh;
    width: 300%;
    z-index: 0;
    opacity: 1;
    background: linear-gradient(190deg,
            rgba(26, 155, 230, 0) 20%,
            rgba(var(--primary-color), 0.9) 30%,
            rgba(var(--secondary-color), 0.9) 60%
            );
    transform: translateY(-100vh);
    /* transition: all 0.8s cubic-bezier(0.55, 0.24, 0.18, 1); */
    transition: all 0.4s cubic-bezier(0.5, 0.7, 0.4, 0.7);
}

@keyframes imageAnimation {
  from {
    -webkit-transform: scale(1.1); 
  }
  to {
    -webkit-transform: scale(1.2); 
  }
}
@-webkit-keyframes imageAnimation {
  from {
    -webkit-transform: scale(1.1); 
  }
  to {
    -webkit-transform: scale(1.2); 
  }
}


@keyframes buttonAnimation {
  from {
    -webkit-transform: translate(-34vw, 34vw); 
  }
  to {
    -webkit-transform: translate(0vw, 0vw); 
  }
}