body {
	font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background-color: #fff;
	height: 500vh;
	position: relative;
}

body:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
}

body.offcanvas-menu:before {
	opacity: 1;
	z-index: 1002;
	visibility: visible;
}

p {
	color: #b3b3b3;
	font-weight: 300;
}

h1,
h2,
h4,
h5,
h3,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

@media only screen and (min-width: 502px) and (max-width: 576px) {
	header br {
		display: none;
	}

}

header .navbar-nav {
	background-color: rgb(15, 98, 146, 0.7);
	transition: background-color 0.2s;
	border-radius: 0px 0px 30px 30px;
	padding: 0px;
}

.navbar>.container {
	margin: 0px;
}

.navbar-toggler {
	color: #F7C04A;
	border-color: rgba(255, 255, 0, 0.52);
	margin-top: 10px;
}

.navbar-toggler-item {
	color: #FFED00;
	/* ToDo does not work! */
}

a,
a:hover {
	color: #0F6292;
	text-decoration: none !important;
}

.hero {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('/images/home.jpg');
}

/* Header */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	padding: 0px 0;
}


.vereinsname {
	float: left;
	color: #FFED00;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-weight: 900;
	font-size: 2rem;
	padding: 25px 0;
	margin-left: 5rem;
	z-index: 2;
}

/* header .navbar-brand.absolute {
	position: absolute;
} */

@media (max-width: 991.98px) {

	.hero {
		height: 70vh;
	}
}

@media (min-width: 992px) {
	#mainNav {
		transition: background-color 0.2s;
		/* Force Hardware Acceleration in WebKit */
		transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	#mainNav.is-fixed {
		/* when the user scrolls down, we hide the header right above the viewport */
		position: relative;
		top: -83px;
		transition: transform 0.2s;
	}


	#mainNav.is-fixed .navbar-nav>li.nav-item>a {
		color: #FFED00;
	}

	#mainNav.nav-is-visible .navbar-nav {
		background-color: rgb(15, 98, 146, 0.7);
		transition: background-color 0.2s;
		border-radius: 0px 0px 30px 30px;
	}

	#mainNav.is-fixed .navbar-nav>li.nav-item>a:focus,
	#mainNav.is-fixed .navbar-nav>li.nav-item>a:hover {
		color: #FFED00;
	}

	#mainNav.nav-is-visible {
		/* if the user changes the scrolling direction, we show the header */
		transform: translate3d(0, 100%, 0);
	}

}

@media (min-width: 768px) {

	header .navbar {
		padding-top: 0;
		padding-bottom: 0;
		background: none !important;
		position: relative;
	}


	header .navbar-expand-sm .navbar-nav .nav-link {
		font-size: calc(1rem + 0.3vw);
		/* padding-left: calc(8px + 0.5vw);
		padding-right: calc(8px + 0.5vw); */
	}
}

/* header .navbar {
	background: #FEFF86 !important;
	padding-top: .5rem;
	padding-bottom: .5rem;
} */

header .navbar .nav-link {
	padding: 20px 10px !important;
	outline: none !important;
	font-size: 1.2rem;
	color: #FFED00;
}

.nav-item-left {
	padding-left: 20px !important;
}

.nav-item-right {
	padding-right: 20px !important;
}

header .navbar .nav-link:hover {
	color: #0F6292;
}

header .navbar:hover {
	color: #0F6292;
}

@media (max-width: 1199.98px) {
	header .navbar .nav-link {
		/* padding: .5rem 0rem; */
		padding: 20px;
	}
}

header .navbar .nav-link.active {
	color: #fff !important;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
	/* remove the gap so it doesn't close */
}

header .navbar .dropdown-menu {
	font-size: 14px;
	border-radius: 4px;
	border: none;
	-webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
	min-width: 13em;
	margin-top: -10px;
}

header .navbar .dropdown-menu:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #fff;
	border-width: 7px;
}

@media (max-width: 991.98px) {
	header .navbar .dropdown-menu:before {
		display: none;
	}
}

@media (min-width: 1000px) {

	.vereinsname {
		font-size: calc(2rem + 0.8vw);
	}

	header .navbar-expand-sm .navbar-nav .nav-link {
		font-size: calc(1rem + 0.8vw);
		/* padding-left: calc(8px + 0.5vw);
		padding-right: calc(8px + 0.5vw); */
	}
}


@media (min-width: 1600px) {


	.vereinsname {
		font-size: calc(2rem + 1vw);
	}
}


header .navbar .dropdown-menu .dropdown-item:hover {
	background: #FFED00;
	color: black;
}

/* header .navbar .dropdown-menu .dropdown-item.active {
	background: #007bff;
	color: #fff;
} */

header .navbar .dropdown-menu a {
	padding-top: 7px;
	padding-bottom: 7px;
}


header .navbar .cta-btn a {
	background: #007bff;
	color: #fff !important;
	text-transform: uppercase;
	font-size: .8rem;
	padding: 15px 20px !important;
	line-height: 1;
	font-weight: 900;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

header .navbar .cta-btn a:hover {
	background: #fff;
	color: #007bff !important;
	-webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
}

.Vereinsmotto {
	display: flex;
	align-items: center;
}

.Vereinsmotto h1 {
	text-align: left;
	margin-left: 50px;
	margin-bottom: 100px;
	padding-right: 20px;
	font-weight: 700;
	color: #0F6292;
	font-size: calc(2.5rem + 3vw);
	line-height: calc(4rem + 3vw);
	letter-spacing: (0.15rem + 3vw);
}

.Vereinsinfo {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	row-gap: 100px;
	justify-content: center;
	color: #0F6292;
	padding-left: 10px;
	/* grid-column: 1/3; */
}

.logo-background {
	position: relative;
	object-fit: cover;
	background-image: url('/images/logo-bw.png');
	background-size: calc(180% - 20vw);
	background-repeat: no-repeat;
	background-position: 150px -0px;
	opacity: 0.8;
}

.grid-container-Verein {
	display: grid;
	grid-template-rows: 100vh;
	grid-template-columns: 3fr 2fr calc(200px + 30vw);
}

#section-Verein p {
	color: #0F6292;
	font-size: calc(1rem + 1vw);
	padding-left: 30px;
}

.mitglieder-background {
	position: relative;
}

.grid-container-Mitglieder {
	display: grid;
	grid-template-rows: 100vh;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
}

.mitglieder-background:before {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	opacity: 0.6;
	background-image: url('/images/mitglieder.jpeg');
	background-repeat: no-repeat;
	background-position: -160px 0px;
	background-size: 130%;
	/* background-position: -150px 0;
	left: -150px;
	width: 130%; */
	z-index: -1;
}

.carousel-container {
	width: 100vh;
	height: 100vb;
	display: flex;
	align-items: center;

}

#carouselExample {
	width: 100%;
}

/* Mitglieder Flipcard */

.card {
	display: flex;
	align-items: center;
	color: inherit;
	cursor: pointer;
	width: 66%;
	height: 70vh;
	perspective: 1000px;
	margin: auto;
	position: relative
}

/* @media screen and (max-width: 800px) {
	.card {
		width: calc(50% - 3rem);
	}
}

@media screen and (max-width: 500px) {
	.card {
		width: 100%;
	}
} */

.front,
.back {
	display: flex;
	border-radius: 6px;
	background-position: center;
	background-size: cover;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: ease-in-out 600ms;
}

.front {
	background-size: cover;
	padding: 2rem;
	font-size: 1.618rem;
	font-weight: 600;
	color: #fff;
	overflow: hidden;
	font-family: Poppins, sans-serif;
}

.front:before {
	position: absolute;
	display: block;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(135deg, #1a9be6, #1a57e6);
	opacity: 0.25;
	z-index: -1;
}

.card:hover .front {
	transform: rotateY(180deg);
}

.card:nth-child(even):hover .front {
	transform: rotateY(-180deg);
}

.back {
	background: #fff;
	transform: rotateY(-180deg);
	padding: 0 2em;
}

.card:hover .back {
	transform: rotateY(0deg);
}

.card:nth-child(even) .back {
	transform: rotateY(180deg);
}

.card:nth-child(even):hover .back {
	transform: rotateY(0deg);
}

.button {
	transform: translateZ(40px);
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	font-weight: bold;
	color: #fff;
	padding: 0.5em 1em;
	border-radius: 100px;
	font: inherit;
	background: linear-gradient(135deg, #1a9be6, #1a57e6);
	border: none;
	position: relative;
	transform-style: preserve-3d;
	transition: 300ms ease;
}

.button:before {
	transition: 300ms ease;
	position: absolute;
	display: block;
	content: '';
	transform: translateZ(-40px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	border-radius: 100px;
	left: 10px;
	top: 16px;
	box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
	background-color: rgba(26, 87, 230, 0.25);
}


.button:hover {
	transform: translateZ(55px);
}

.button:hover:before {
	transform: translateZ(-55px);
}

.button:active {
	transform: translateZ(20px);
}

.button:active:before {
	transform: translateZ(-20px);
	top: 12px;
	top: 12px;
}

.back .name {
	font-size: calc(1.0rem + 2.5vh);
	font-weight: 600;
}

.back p {
	margin: 5%;
	font-size: calc(0.8rem + 1.5vh);
	color: black;
}

.back .zitat {
	color: #b3b3b3;
	font-size: calc(1.0rem + 1.5vh);
	font-style: italic;
}

.large {
	font-size: 2rem;
}
